body {
    font-family: 'Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcdba4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ff573d;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 380px;
    text-align: center;
}

/* Title */
h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
    letter-spacing: 1px;
}

/* Subtitle */
p {
    color: #fff3ee;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Input */
input {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Button */
button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #000;
    transform: scale(1.05);
}
